:unattended: {{ foreman_unattended  | lower }}
:login: {{ foreman_authentication  | lower }}
:require_ssl: {{ foreman_ssl  | lower }}
:locations_enabled: {{ foreman_locations_enabled  | lower }}
:organizations_enabled: {{ foreman_organizations_enabled  | lower }}

# The following values are used for providing default settings during db migrate
:oauth_active: {{ foreman_oauth_active  | lower }}
:oauth_map_users: {{ foreman_oauth_map_users  | lower }}
:oauth_consumer_key: {{ foreman_oauth_consumer_key }}
:oauth_consumer_secret: {{ foreman_oauth_consumer_secret }}

# Websockets
:websockets_encrypt: {{ foreman_websockets_encrypt  | lower }}
:websockets_ssl_key: {{ foreman_websockets_ssl_key }}
:websockets_ssl_cert: {{ foreman_websockets_ssl_cert }}

