[foreman]
name=Foreman {{ foreman_version }}
baseurl=http://yum.theforeman.org/releases/{{ foreman_version }}/{{ foreman_repo_dist }}{{ foreman_repo_os_rel }}/$basearch
enabled=1
gpgcheck=1
gpgkey=http://yum.theforeman.org/releases/{{ foreman_version }}/RPM-GPG-KEY-foreman

[foreman-source]
name=Foreman {{ foreman_version }} - source
baseurl=http://yum.theforeman.org/releases/{{ foreman_version }}/{{ foreman_repo_dist }}{{ foreman_repo_os_rel }}/source
enabled=0
gpgcheck=1
gpgkey=http://yum.theforeman.org/releases/{{ foreman_version }}/RPM-GPG-KEY-foreman
