[foreman-plugins]
name=Foreman plugins {{ foreman_version }}
baseurl=http://yum.theforeman.org/plugins/{{ foreman_version }}/{{ foreman_repo_dist }}{{ foreman_repo_os_rel }}/$basearch
enabled=1
gpgcheck=0

[foreman-plugins-source]
name=Foreman plugins {{ foreman_version }} - source
baseurl=http://yum.theforeman.org/plugins/{{ foreman_version }}/{{ foreman_repo_dist }}{{ foreman_repo_os_rel }}/source
enabled=0
gpgcheck=0
